# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

main test 3 (from chromebook)

In [1]:
print("Hello world!")

Hello world!

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
df = pd.read_csv("data/listings.csv", sep=",")

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

In [5]:
# 1. How many listings are there with a price less than 100? 

sub_100 = df['price'] < 100
sub_100.sum()

22778

In [9]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

list_of_hood = ['Brooklyn']
df_bk_series = df.neighbourhood_group.isin(list_of_hood)
df_bk = df_bk_series.to_frame()
print(df_bk.sum())

neighbourhood_group    18632
dtype: int64

In [10]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

condition_1 = df['neighbourhood_group'] == 'Brooklyn'
condition_2 = df['price'] < 100
len(df[ condition_1 & condition_2])

10473

In [13]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.

names = ['Michael', 'David', 'John', 'Daniel']

condition = df['host_name'].isin(names)

df[condition]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
52,16595,LOFT HAVEN ~ Six Windows ~ Bricks ~ Plants ~ Q...,64522,Daniel,Brooklyn,Williamsburg,40.70933,-73.96792,Entire home/apt,271,1,172,2020-07-14,1.44,1,365
201,61747,"Cozy, Brooklyn, Prospect Park Studio",299370,David,Brooklyn,Prospect-Lefferts Gardens,40.65979,-73.96180,Entire home/apt,91,14,97,2018-01-31,0.83,1,44
209,62903,Beautiful modern studio apartment in heart of NYC,306605,Daniel,Manhattan,Chelsea,40.74238,-73.99567,Entire home/apt,205,15,68,2019-12-14,0.67,2,89
220,64015,Prime East Village 1 Bedroom,146944,David,Manhattan,East Village,40.72807,-73.98594,Entire home/apt,200,3,0,NaN,NaN,1,0
260,74073,Food & Music Dream Apartment in Williamsburg,211877,Daniel,Brooklyn,Williamsburg,40.71113,-73.96054,Entire home/apt,187,30,90,2020-07-31,0.81,1,261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46362,44639591,Central & Stylish 1 Bedroom Apt - Heart of Che...,286136716,John,Manhattan,Chelsea,40.74568,-73.99694,Entire home/apt,110,30,0,NaN,NaN,3,110
46396,44661297,Flushing Sunshine home #101,361579037,Daniel,Queens,Flushing,40.74603,-73.82837,Private room,52,1,0,NaN,NaN,2,360
46403,44662157,Flushing Sunshine home #102,361579037,Daniel,Queens,Flushing,40.74441,-73.82829,Private room,55,1,3,2020-08-16,3.00,2,365
46455,44697211,Davidâ€™s Queen Sized Room,343477029,David,Queens,Far Rockaway,40.59460,-73.75875,Private room,95,1,0,NaN,NaN,1,365
46508,44797527,Long-Term: Furnished Apt in Nolita w/ Amenities,19448640,David,Manhattan,Nolita,40.72289,-73.99400,Entire home/apt,140,30,0,NaN,NaN,1,282

In [18]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

df['adjusted_price'] = np.where(df['neighbourhood'] == 'Williamsburg', df.price + 100, df.price)

df.head(30)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,175
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,75
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,60
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,175
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,65
5,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.89,1,0,75
6,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,140,1,161,2019-07-29,1.21,4,274,140
7,5552,Spacious river view in the West Village,8380,Maria,Manhattan,West Village,40.73552,-74.01042,Entire home/apt,160,3,66,2019-08-10,0.49,1,178,160
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344,88
9,6021,Wonderful Guest Bedroom in Manhattan CENTRAL PARK,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,123,2019-12-09,0.90,1,365,85
10,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,65,30,29,2020-07-25,0.22,1,197,65
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0,209
12,6990,UES Beautiful Blue Room / 2 Bedrooms,16800,Cyn,Manhattan,East Harlem,40.78962,-73.94802,Entire home/apt,239,4,233,2019-12-09,1.77,1,365,239
13,7097,Perfect for Your Parents + Garden; Germ-Free,17571,Jane,Brooklyn,Fort Greene,40.69121,-73.97277,Entire home/apt,182,1,229,2020-07-20,1.78,2,325,182
14,7750,2 Furnished bedrooms next to Central Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Private room,96,14,0,NaN,NaN,2,178,96
15,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,337,399
16,8490,"MAISON DES SIRENES1,bohemian apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.68371,-73.94028,Entire home/apt,120,2,115,2020-08-13,0.86,2,319,120
17,8505,Sunny Bedroom Across Prospect Park,25326,Gregory,Brooklyn,Windsor Terrace,40.65599,-73.97519,Private room,135,1,23,2019-10-14,0.84,2,89,135
18,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,86,4,0,NaN,NaN,1,0,86
19,9657,Modern 1 BR / NYC / EAST VILLAGE,21904,Dana,Manhattan,East Village,40.72920,-73.98542,Entire home/apt,220,3,33,2019-11-11,0.25,1,90,220
20,9704,Spacious 1 bedroom in luxe building,32045,Teri,Manhattan,Harlem,40.81305,-73.95466,Private room,55,2,98,2020-03-14,1.30,1,354,55
21,10452,Large B&B Style rooms,35935,Angela,Brooklyn,Bedford-Stuyvesant,40.68310,-73.95473,Private room,70,3,75,2019-10-12,0.60,2,365,70
22,10962,"Lovely Room 2; Garden; Best area, Legal",9744,Laurie,Brooklyn,South Slope,40.66869,-73.98780,Private room,88,4,180,2020-08-03,1.36,3,365,88
23,11943,Country space in the city,45445,Harriet,Brooklyn,Flatbush,40.63702,-73.96327,Private room,150,1,0,NaN,NaN,1,365,150
24,12048,LowerEastSide apt share shortterm 1,7549,Ben,Manhattan,Lower East Side,40.71401,-73.98917,Shared room,40,1,219,2019-11-13,1.67,4,226,40
25,12192,ENJOY Downtown NYC!,46978,Edward,Manhattan,East Village,40.72290,-73.98199,Private room,40,2,262,2020-03-17,1.99,2,46,40
26,12343,BEST BET IN HARLEM,47727,Earl,Manhattan,Harlem,40.81175,-73.94478,Entire home/apt,150,7,107,2019-12-07,0.83,1,364,150
27,12627,Entire apartment in central Brooklyn neighborh...,49670,Rana,Brooklyn,Prospect-Lefferts Gardens,40.65944,-73.96238,Entire home/apt,95,30,13,2019-12-05,0.36,1,156,95
28,12937,"1 Stop fr. Manhattan! Private Suite,Landmark B...",50124,Orestes,Queens,Long Island City,40.74771,-73.94740,Private room,130,2,280,2020-03-15,2.26,1,246,130
29,12940,Charming Brownstone 3 - Near PRATT,50148,Adreinne,Brooklyn,Bedford-Stuyvesant,40.68111,-73.95591,Entire home/apt,100,5,66,2020-03-02,0.51,1,19,100

In [64]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

room_type_totals = df.room_type.value_counts()
total_rooms = df.room_type.value_counts().sum()

room_type_percentages = room_type_totals/total_rooms
room_type_percentages

Entire home/apt    0.515787
Private room       0.454446
Shared room        0.021213
Hotel room         0.008554
Name: room_type, dtype: float64

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [82]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

grouped_totals = df.groupby('neighbourhood_group').count()
grouped_totals['id']

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: id, dtype: int64

In [89]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

df.groupby('neighbourhood_group').price.mean()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [91]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

group = df.groupby('neighbourhood_group')
group['price'].agg(['min', 'max'])

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [101]:
# 4. Using `groupby`, find the mean price for each room type in each neighbourhood_group.

df.groupby(["neighbourhood_group", "room_type"]).price.mean()

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [105]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

groupby_price = df.groupby(["neighbourhood_group", "room_type"]).price
groupby_price.agg(['count', 'min', 'max', 'mean', 'median'])

                                     count  min    max        mean  median
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819     103
                    Private room       722   16    700   68.419668      55
                    Shared room         46   20    800   66.391304      44
Brooklyn            Entire home/apt   9112   20  10000  171.587687     135
                    Hotel room          30    0    399  147.300000     129
                    Private room      9159   10   2500   71.291189      60
                    Shared room        331   15   1500   57.870091      36
Manhattan           Entire home/apt  12209    0  10000  231.335572     165
                    Hotel room         351    0   2211  292.515670     210
                    Private room      7601   10  10000  128.277069      80
                    Shared room        419   10  10000  111.735084      60
Queens              Entire home/apt   2090   10  10000  150.168900     115
                    Hotel room          17    0    249  139.058824     149
                    Private room      3499   18   9000   69.972564      55
                    Shared room        185   14   3000   89.891892      40
Staten Island       Entire home/apt    172   39   1200  151.720930     111
                    Private room       163   20    800   70.312883      55
                    Shared room          6   19     82   46.000000      38

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [111]:
# 1. Load the `prices.csv` and the `n_listings.csv`

df_prices = pd.read_csv('data/prices.csv', sep=',')
df_listings = pd.read_csv('data/n_listings.csv', sep=';')

# df_prices
# df_listings

In [113]:
# 2. Do join that keeps all the records for each table.

joined_df = pd.merge(df_prices, df_listings, on='neighbourhood_group', how='outer')
joined_df

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2           Manhattan   191.880466     20580.0
3              Queens    99.754965         NaN
4       Staten Island   110.947214         NaN
5          LongIsland          NaN      4121.0

# Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [137]:
#  1. Who was won Album of the Year in 2016?

grammys_df = pd.read_csv('data/grammys.csv', sep=',')
# grammys_df
condition_1 = (grammys_df.year == 2016)
condition_2 = (grammys_df.winner == True)
condition_3 = (grammys_df.category == 'Album of the Year')
grammys_df[condition_1 & condition_2 & condition_3].workers

5505    Taylor Swift (artist/producer), Jack Antonoff ...
Name: workers, dtype: object

In [138]:
# 2. Who won Best Rap Album in 2009?

condition_1 = (grammys_df.year == 2009)
condition_2 = (grammys_df.winner == True)
condition_3 = (grammys_df.category == 'Best Rap Album')
grammys_df[condition_1 & condition_2 & condition_3].workers

4396    Lil' Wayne
Name: workers, dtype: object

In [185]:
# 3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?
# print(grammys_df)

nominated_total = len(grammys_df[(grammys_df.workers == 'Kendrick Lamar')])
print('KL was nominated for ' + str(nominated_total) + ' grammy(s)')

won = len(grammys_df[(grammys_df.workers == 'Kendrick Lamar') & (grammys_df.winner == True)])
print('KL won ' + str(won) + ' grammy(s)')

KL was nominated for 6 grammy(s)
KL won 4 grammy(s)